body {
  background: #08438B;
}

.turntable {
  width: 360px;
  height: 360px;
  margin: 50px auto;
}

.turntable-pointer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
}

.pointer-img {
  position: absolute;
  bottom: 10px;
  width: 100px;
}

.pointer-img:hover {
  transform: scale(0.9);
  transition: transform .1s linear;
  cursor: pointer;
}

.pointer-img:active {
  transform: scale(0.8);
  transition: transform .1s linear;
}